body {
background: #800000;
color: #000;
}
.head {
background: #cd5c5c;
width:100%;
text-align: center;
padding: 1px 0px 2px 2px;
margin: 0px;
font-family: Coursive;
border-radius: 0 5px 0 0;
font-size: 18px;
border: #000000 solid 4px;
}
.foot {
margin: 0px;
background: #cd5c5c;
width:100%;
text-align: center;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 14px;
border: #000000 solid 4px;
border-radius: 0 0 5px 0;
}
.msg {
margin: 0px;
background: #FFF;
width:100%;
text-align: justify;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 16px;
border: #000000 double 4px;
overflow: auto;
}
.error {
margin: 0px;
background: #FFF;
width:100%;
text-align: justify;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 16px;
border: #000000 double 4px;
color: red;
}
form {
margin: 0px;
background: #FFF;
width:100%;
text-align: left;
padding: 1px 0px 2px 2px;
margin: 0px;
font-size: 16px;
border: #000000 double 4px;
}
.all {
border-left: 6px double #000000;
margin: 0 auto;
width: 500px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignleftfoot {
  float: left;
  width: 33.33333%;
  text-align: left;
}
.aligncenterfoot {
  float: left;
  width: 33.33333%;
  text-align: center;
}
.alignrightfoot {
  float: right;
  width: 33.33333%;
  text-align: right;
}
